fastapi
uvicorn
python-dotenv
requests
nltk
rake-nltk
locationtagger
lxml_html_clean
aiohttp
pydantic
geopy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
